.reveal .footer {
    font-size: 0.5em;
}

.reveal .inv {
    border: 2px solid #23272A;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    font-size: 15pt;
}

.reveal .ghost {
    border: 2px dashed #23272A;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    font-size: 15pt;
}

.reveal .smath {
    font-size: 15pt;
}

.reveal .name {
    font-size: 10pt;
    position: relative;
    bottom: 10px;
}