@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);

.reveal {
    background: #CEE2FD;
    color: #1D2127;
    font-family: 'Quicksand', sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    color: #0088CC;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: -0.08em;
    text-transform: none;
}

.reveal a {
    color: #0088CC;
}

.reveal a:hover {
    color: #0088CC;
}

.reveal .controls {
    color: #1D2127;
}

.reveal .footer {
    font-size: 0.5em;
}